<!-- server/views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product App</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>Welcome to the Product App</h1>
  <ul>
    <li><a href="/products">Show All Products</a></li>
    <li><a href="/category?category=Electronics">Electronics Products</a></li>
    <li><a href="/category?category=Dry Fruits">Dry Fruits Products</a></li>
  </ul>
</body>
</html>
