<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Home Page</title>
</head>

<body>
  <img src="/images/banner.jpg" alt="Banner Image" style="width: 50%; height: auto;">

  <h1>Welcome to the Home Page</h1>
  <p><a href="/login">Go to Login</a></p>
</body>

</html>
