{{!< layouts/main}}

<h2>Customer Details</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
  </tr>
  {{#each customers}}
    <tr>
      <td>{{Name}}</td>
      <td>{{City}}</td>
      <td>{{Country}}</td>
    </tr>
  {{/each}}
</table>
